@import "../../scss/variables";

.card-crypto {
    width: 375px;

    h4 {
        max-width: 225px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-body {
        min-width: 250px;
        padding: 1rem;
    }
    transition: $cardTransitionHover;

    &:hover {
        cursor: pointer;
        border-color: $primary-hover-border;
        .card-body {
            background-color: $primary-hover-background;
        }
    }

    .table th,
    .table td {
        padding: 0.6rem;
    }

    .table th {
        border-bottom: none;
    }

    .table tr:last-child td {
        border-bottom: 1px solid $primary-hover-background; // @todo find source for this color
    }

    .app-button-refresh {
        border-color: $primary-light;
    }

    .app-chart {
        height: 60px;
    }
}

.app-crypto-icon-box {
    width: 42px;
    img {
        width: 100%;
        height: auto;
    }
}
