<div
    class="card card-crypto mb-4 rounded-3 shadow-sm mr-4"
    *ngIf="card"
    (click)="open()"
>
    <div class="card-header py-3 d-flex justify-content-between">
        <div class="d-flex">
            <div class="app-crypto-icon mr-2">
                <img
                    src="https://cdn.jsdelivr.net/gh/atomiclabs/cryptocurrency-icons@master/svg/white/{{
                        card.icon
                    }}.svg"
                    alt="btc"
                />
            </div>
            <h4 class="my-0 fw-normal mr-2" *ngIf="!card.name">
                {{ card.address | slice: 0:4 }}...{{ card.address | slice: -4 }}
            </h4>
            <h4 class="my-0 fw-normal mr-2" *ngIf="card.name">
                <!--                <i class="bi bi-wallet-fill mr-2"></i>-->
                {{ card.name }}
            </h4>
            <h4 class="my-0 fw-normal">{{ card.address | slice: 0:4 }}...</h4>
        </div>
        <div>
            <h4 class="my-0 fw-normal">
                <i class="bi-plus-lg"></i>
            </h4>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="app-crypto-icon-box">
                <img
                    src="https://cdn.jsdelivr.net/gh/atomiclabs/cryptocurrency-icons@master/svg/icon/{{
                        card.icon
                    }}.svg"
                    alt="btc"
                />
            </div>
            <div class="app-chart d-flex justify-content-center">
                <div
                    class="spinner-border text-secondary"
                    *ngIf="loading"
                ></div>
                <ngx-charts-line-chart
                    *ngIf="!loading"
                    [view]="view"
                    [gradient]="false"
                    [scheme]="colorScheme"
                    [legend]="legend"
                    [showGridLines]="false"
                    [showXAxisLabel]="false"
                    [showYAxisLabel]="false"
                    [xAxis]="xAxis"
                    [yAxis]="yAxis"
                    [timeline]="timeline"
                    [results]="[{ name: 'Fee paid $', series: card.series }]"
                    [autoScale]="true"
                    [yScaleMin]="card.lowest"
                    [yScaleMax]="card.highest"
                >
                </ngx-charts-line-chart>
                <!--                    [results]="multi[card.id]"-->
            </div>
            <div>
                <button
                    class="
                        btn btn-outline-primary
                        rounded-circle
                        app-button-refresh
                    "
                    type="button"
                    (click)="refresh($event)"
                    ngbTooltip="Refresh transactions"
                >
                    <i class="bi-arrow-clockwise"></i>
                </button>
            </div>
        </div>

        <ul class="list-unstyled mb-2">
            <li class="d-flex justify-content-between">
                <div>Average cost 5 last transactions</div>
                <div>{{ card.total5 / 5 | currency }}</div>
            </li>
            <li class="d-flex justify-content-between mb-3">
                <div>Average cost 10 last transactions</div>
                <div>{{ card.total10 / 10 | currency }}</div>
            </li>
            <!--            <li class="d-flex justify-content-between">-->
            <!--                <div>Total cost for last 5 transactions</div>-->
            <!--                <div>{{ card.total5 | currency }}</div>-->
            <!--            </li>-->
            <!--            <li class="d-flex justify-content-between mb-3">-->
            <!--                <div>Total cost for last 10 transactions</div>-->
            <!--                <div>{{ card.total10 | currency }}</div>-->
            <!--            </li>-->
            <li class="d-flex justify-content-between mb-3">
                <div>
                    Potential savings
                    <i
                        class="bi bi-info-circle"
                        ngbTooltip="Estimated savings from recent transactions if used Solana network instead"
                    ></i>
                </div>
                <div
                    [ngClass]="{
                        'text-success font-weight-bold': card.total10 > 1
                    }"
                >
                    <!--                  // change it to sum of all transactions within last month or two-->
                    {{ card.total10 | currency }}
                </div>
            </li>
            <li class="d-flex justify-content-between">
                <div>
                    Highest transaction(s) cost
                    <i
                        class="bi bi-info-circle"
                        ngbTooltip="Based on recent transactions"
                    ></i>
                </div>
                <div [class.text-danger]="card.highest > 1">
                    {{ card.highest | currency }}
                </div>
            </li>
            <li class="d-flex justify-content-between">
                <div>
                    Lowest transaction(s) cost
                    <i
                        class="bi bi-info-circle"
                        ngbTooltip="Based on recent transactions"
                    ></i>
                </div>
                <div ngbTooltip="Based on recent transactions not all">
                    {{ card.lowest | currency }}
                </div>
            </li>
        </ul>

        <!--        <button type="button" class="w-100 btn btn-lg btn-outline-primary">-->
        <!--            Load more-->
        <!--        </button>-->
    </div>
    <div>
        <table class="table" [class.table-striped]="!loading">
            <thead>
                <tr>
                    <th class="text-center">Txn</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Fee</th>
                    <th class="text-center">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="loading">
                    <td colspan="4" class="text-center">
                        <div
                            class="spinner-border text-secondary mt-4"
                            role="status"
                        >
                            <span class="sr-only">Loading...</span>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!loading && message">
                    <td colspan="4" class="text-center">
                        {{ message }}
                    </td>
                </tr>
                <ng-container *ngIf="!loading">
                    <tr
                        *ngFor="
                            let transaction of card.transactions
                                | slice: getStart():getEnd()
                        "
                    >
                        <td
                            class="text-center"
                            (click)="openTransaction($event, transaction)"
                            [title]="transaction.id"
                        >
                            <i class="bi bi-arrow-up-right-square"></i>
                        </td>
                        <td class="text-center">
                            {{ transaction.date | ago }}
                        </td>
                        <td class="text-center" title="{{ transaction.fee }}">
                            {{ transaction.fee | number: "1.6-6" }}
                        </td>
                        <td class="text-center">
                            {{
                                transaction.feeValue
                                    | currency: "USD":"symbol":"1.2-4"
                            }}
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="card-body py-2">
        <nav>
            <ul class="pagination justify-content-center">
                <!--                <li class="page-item disabled">-->
                <!--                    <a-->
                <!--                        class="page-link"-->
                <!--                        href="#"-->
                <!--                        tabindex="-1"-->
                <!--                        aria-disabled="true"-->
                <!--                        >Previous</a-->
                <!--                    >-->
                <!--                </li>-->
                <!--                <li class="page-item"><a class="page-link" href="#">1</a></li>-->
                <!--                <li class="page-item"><a class="page-link" href="#">...</a></li>-->
                <li class="page-item">
                    <a
                        class="page-link rounded-pill mr-2"
                        (click)="previousPage($event)"
                        *ngIf="page > 1"
                        >Previous Page</a
                    >
                </li>
                <li class="page-item">
                    <a
                        class="page-link rounded-pill"
                        (click)="nextPage($event)"
                        *ngIf="this.page < totalPages"
                        >Next Page</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</div>

<app-card-modal
    [openCard]="openCard"
    (removeCard)="removeCard()"
    (select)="refreshCard($event)"
></app-card-modal>
