@import "../../scss/variables";

.card-crypto {
    .card-body {
        min-width: 300px;
    }
    max-width: 500px;
    transition: $cardTransitionHover;

    &:hover {
        cursor: pointer;
        border-color: $primary-hover-border;
        .card-body {
            background-color: $primary-hover-background;
        }
    }

    .table th,
    .table td {
        padding: 0.6rem;
    }

    .app-button-refresh {
        border-color: $primary-light;
    }
}
