<div class="container pt-4">
    <div class="row">
        <div class="col-12 d-flex mb-3 justify-content-center">
            <button
                type="button"
                class="
                    btn btn-lg btn-outline-primary
                    rounded-pill
                    app-profile-button
                    mr-2
                "
                [class.hello]="selectedProfile.name == profile.name"
                *ngFor="let profile of profiles; index as i"
                (click)="selectProfile(profile)"
            >
                <i
                    class="bi bi-check2 mr-1"
                    *ngIf="selectedProfile.name == profile.name"
                ></i>
                {{ profile.name
                }}<i class="bi bi-three-dots-vertical ml-2" *ngIf="i > 0"></i>
            </button>

            <button
                type="button"
                class="btn btn-lg btn-outline-primary rounded-pill"
                (click)="addProfile()"
            >
                <i class="bi-plus bi-plus-lg mr-1"></i> New
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div *ngFor="let item of selectedProfile.cards">
                <app-card [card]="item"></app-card>
            </div>
            <app-card-empty
                (addCard)="addCard($event)"
                [totalCards]="selectedProfile.cards.length"
            ></app-card-empty>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
