@import "../scss/variables";

.app-profile-button {
    &.selected-profile {
        background-color: $solana;
        &:hover {
            color: $primary;
        }
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.total-cards {
    font-size: 12px;
    top: -10px;
    position: relative;
}

.footer {
    background-color: $footer-bg;
}
