/* You can add global styles to this file, and also import other style files */

@import "variables";

/* Importing Bootstrap SCSS file. */
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1500px !important;
    }
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb($primary, 0.05);
}

.app-crypto-icon {
    img {
        width: 100%;
        height: auto;
        max-width: 24px;
    }
}

.app-crypto-icon-box {
    width: 42px;
    img {
        width: 100%;
        height: auto;
    }
}

.app-dialog {
    .modal-header {
        border-bottom: 0 !important;
        padding: 1rem 2rem !important;
    }

    .modal-body {
        padding: 0.5rem 2rem !important;
    }

    .modal-footer {
        border-top: 0 !important;
        padding: 1rem 2rem !important;
    }
}

.app-tooltip {
    &.show {
        opacity: 1;
    }
    .tooltip-inner {
        border: 1px solid $primary;
        color: $primary;
        background-color: white;
    }
}

/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
//.btn-outline-primary {
//  color: #fff;
//  background-color: #0495c9;
//  border-color: #357ebd; /*set the color you want here*/
//}
.btn-outline-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: darken($primary, 10%);
    background-color: rgba($primary, 0.05);
    border-color: rgba($primary, 0.75);

    //background-color: #00b3db;
    //border-color: #285e8e; /*set the color you want here*/
}

.app-pointer {
    cursor: pointer;
}
