// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$solana: #63f99f;

$primary: #3f51b5;
$primary-light: rgba($primary, 0.1);

$primary-hover-border: rgba($primary, 0.75);
$primary-hover-background: rgba($primary, 0.02);

$footer-bg: rgba($primary, 0.06);

$box-shadow-focus: 0 0 0 0.05rem rgb(63 81 181 / 25%);

$cardTransitionHover: border-left-color 0.2s ease-in-out,
    background-color 0.3s linear, border-right-color 0.2s ease-in-out;

// boostrap overwrite related
$card-cap-bg: $primary;
$card-cap-color: white;
