@import "../../scss/variables";

.app-edit-mode {
    min-width: 450px;
}

.app-table-modal {
    &.table th,
    &.table td {
        padding: 0.5rem;
    }
}

.app-back-button {
    display: block;
    position: absolute;
    top: 16px;
    left: 22px;
}

.app-menu-button {
    display: block;
    position: absolute;
    top: 16px;
    right: 22px;
}
